BROWSER_ORDER=("Brave" "Firefox" "Google Chrome" "Vivaldi" "Ghostery" "Opera")
BROWSER_COMMANDS="Brave:/usr/bin/brave-browser,Firefox:firefox,Google Chrome:google-chrome,Ghostery:/usr/bin/ghostery,Vivaldi:/usr/bin/vivaldi,Opera:/usr/bin/opera"