[Desktop Entry]
Version=1.0
Name=Browser Select
Comment=Custom script to select a web browser
Exec=/home/ren/scripts/browser-select/script.sh %u
Icon=/home/ren/scripts/browser-select/default-128.ico
Terminal=false
X-MultipleArgs=false
Type=Application
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
Categories=Network;WebBrowser;
StartupNotify=true
Actions=new-window;

[Desktop Action new-window]
Name=Open a New Window
Exec=/home/ren/scripts/browser-select/script.sh
